<h1>ゲーム詳細</h1>

<%= @game.name %>
<% if @current_session %>
  <%= button_to "終了", game_session_path(@game, @current_session), method: :patch %>
<% else %>
  <%= button_to "開始", game_sessions_path(@game), method: :post %>
<% end %>
<%= button_to "削除", game_path(@game), method: :delete %>
<%= link_to "プレイ時間", stats_game_path(@game, @current_session) %>
<%= link_to "戻る", games_path %>